@font-face {
    font-family: nue;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: nue;
    src: url(./NeueHaasDisplayLight.ttf);
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nue;
}

#main{
    position: relative;
    z-index: 10;
}

body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

#nav {
    padding: 2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
  
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    color: #000000bb;
    position: relative;
    font-size: 18px;
    transition: all ease 0.3s;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}   

#nav-part2 h4:hover a {
    color: white;
}

#nav h3{
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #0000003c;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;

}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;

}

#hero-1 {
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #fe3f0a);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #fe3f0a);
    border-radius: 50%;
    position: absolute;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);

    }

    to {
        transform: translate(0%, 10%);
    }

}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);

    }

    to {
        transform: translate(-20%, 30%);
    }

}

#page2 {
    min-height: 120vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;

}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 8vw;
    display: inline-block;

}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
}

@keyframes move {
    from {
        transform: translatex(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4.5vw;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;


}

#bottom-part2 {
    width: 20%;


}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;

}

#bottom-part2 p {
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1vw;

}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top, #fe320a, #fe5b0a);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        transform: translate(10%, -10%) skew(0);
        filter: blur(20px);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
        filter: blur(20px);
    }
}



#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem {
    height: 150px;
    width: 100%;

    border-bottom: 1px solid rgb(29, 28, 28);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    background-color: orange;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all ease 0.2s;
    top: -100%;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    left: 50%;
    top: 25%;
    border-radius: 10px;
    position: fixed;
    z-index:11;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding:10vw 2vw;

}

.swiper {
    width: 100%;
    height: 100%;

  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 30%;
    border-left: 1px solid rgb(29, 28, 28);
    padding: 0 2vw;
  }
  

#page5{
    height: 100vh;
    width: 100%;
    
}
#footer{
    position:fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    background-color: #201f1f;
    color: #fff;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}
#footer h1{
    font-size: 23vw ;
}
#footer-div{
    height: 20vh;
    width: 100%;
    background-color: #fe320a;
    display: flex;
    justify-content: space-between;
    z-index: 11;
}
#left{
    align-items: center;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
 
}
#left a{
    text-decoration: none;
    color: white;
    z-index: 11;
}
#left a:hover{
    color: rgba(255, 255, 255, 0.737);

}
#right{
    align-items: center;
    margin-top: 2vw;
    font-size: 1vw;
    z-index: 11;
  
}
.email{
    margin-top: 0.5vh;
    outline: none;
    border: none;
    background-color:transparent;
    height: 2vw;
    width: 12vw;
    font-size: 1vw;
    z-index: 11;
}
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-bottom p a{
    text-decoration: none;
    color: white;
}
#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.4s;
}

#full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
}

@media (max-width:786px) {
  
    
#page1 {
    min-height: 100vh;
    width: 100%;
    padding: 0 ;
}

#nav {
    padding: 8vw 5vw;
    background-color: #EFEAE3;

}

#nav img{
    height: 9vh;
    transition: all ease 0.2s;
}

#nav-part2 {
    display: none;
}

#nav h3{
    display: block;
    padding: 3vw 5vw;
    border: 1px solid #ababab;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 10vw;
}


}